:root {
  --GRID_WIDTH: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: #000;
  color: #efef73;
  font-family: "Silkscreen", sans-serif;
}

#score {
  padding: 10px;
  background-color: #000;
  color: #efef73;
  z-index: 2;
}

#gameBoard {
  display: grid;
  grid-template-columns: repeat(var(--GRID_WIDTH), max-content);
  width: fit-content;
}


.gameOverPopUp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  color: #efef73;
  padding: 20px;
  border-radius: 5px;
  z-index: 3;
  text-align: center;
}

.gameOverPopUp h1 {
  margin: 0 0 20px 0;
  font-size: 2em;
}

.gameOverPopUp button {
  padding: 10px 20px;
  background-color: #efef73;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.gameOverPopUp button:hover {
  background-color: #ffef8b;
}

.cell {
  width: 32px;
  aspect-ratio: 1 / 1;
  background-color: #000000;
}

#ghosts {
  position: absolute;
}

.ghost {
  width: 32px; /* Width of one frame */
  height: 32px; /* Height of one frame */
  position: absolute;
  background: url('images/ghosts.png');
  background-size: 256px 320px; /* Total width and height of the sprite sheet */
  image-rendering: pixelated;
  transition: transform 0.4s linear;

}

.blinking {
  animation: blink 0.5s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

#pacman {
  width: 32px; /* Width of one frame */
  height: 32px; /* Height of one frame */
  background: url('images/pacman.gif');
  background-size: 128px 32px; /* Total width and height of the sprite sheet */
  image-rendering: pixelated;
  position: absolute;
  transition: transform 0.2s linear;
  background-color: transparent;
}

#pacman.animateHor {
  animation: pacman-animation 0.5s steps(4) infinite;
}

#pacman.animateVer {
  animation: pacman-animation-horizontal 0.5s steps(4) infinite;
}

@keyframes pacman-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -128px 0; /* Total width of the sprite sheet */
  }
}

@keyframes pacman-animation-horizontal {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -128px; /* Total width of the sprite sheet */
  }
}

#pacman.left {
  background: url('images/pacman.gif');
  background-size: 128px 32px; /* Total width and height of the sprite sheet */
}

#pacman.up {
  background: url('images/pacman_up.gif');
  background-size: 32px 128px; /* Total width and height of the sprite sheet */
}

#pacman.down {
  background: url('images/pacman_down.gif');
  background-size: 32px 128px; /* Total width and height of the sprite sheet */
}

#pacman.right {
  background: url('images/pacman_right.gif');
  background-size: 128px 32px; /* Total width and height of the sprite sheet */
}

.moving {
  animation-duration: 0.5s;
  animation-timing-function: steps(4);
  animation-iteration-count: infinite;
}

.wall {
  background-color: darkblue;
}

.coin {
  height: 15px !important;
  width: 15px !important;
  background-color: peachpuff;
  border-radius: 50%;
  margin: auto;
}

.xp {
  width: 3px !important;
  height: 3px !important;
  background-color: peachpuff;
  border-radius: 50%;
  margin: auto;
}

.power {
  width: 10px;
  height: 10px;
  background-color: tan;
  border-radius: 50%;
  margin: auto;
}

input[type="number"] {
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

input[type="number"]:focus {
  border-color: #66afe9;
  outline: none;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

#create {
  margin: 5px;
  padding: 10px;
  background-color: darkblue;
  color: white;
  border: none;
  border-radius: 5px;
}

/* Debugging */
.highlight {
  outline: 2px dashed red;
  translate: 0 0;
}

.show-rect {
  outline: 2px solid red;
}

.show-reg-point::before {
  content: "";
  position: absolute;
  background-color: cyan;
  width: 3px;
  height: 3px;
  translate: var(--regX) var(--regY);
}

.show-hitbox::before {
  content: "";
  position: absolute;
  outline: 2px solid lightcoral;
  width: var(--hitboxWidth);
  height: var(--hitboxHeight);
  translate: var(--hitboxX) var(--hitboxY);
}

.show-hitbox1 {
  outline: 2px solid lightcoral;
}
