:root{
    --GRID_WIDTH: 0;
}

body {
    background-color: #000;
    color: #efef73;
}

#gamefield{
  border: 1px solid darkblue;
  border-radius: 5px;
  width: -moz-fit-content;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(var(--GRID_WIDTH), max-content);

}

#background{
  grid-area: 1 / 1;
  display: grid;
  grid-template-columns: repeat(var(--GRID_WIDTH), max-content);
}

#background .tile{
  width: var(--TILE_SIZE);
  aspect-ratio: 1 / 1;

  background-repeat: no-repeat;
  background-size: 100%;
  image-rendering: pixelated;

}

  .cell {
    width: 32px;
    aspect-ratio: 1 / 1;
    border: 2px solid gray;
  }

  #characters{
    grid-area: 1 / 1;
}

#ghosts .ghost {
  width: 32px; /* Width of one frame */
  height: 32px; /* Height of one frame */
  background: url('images/ghosts.png');
  background-size: 256px 320px; /* Total width and height of the sprite sheet */
  background-position: 0 0; /* Position of the first ghost in the first state */
  image-rendering: pixelated;
}

#pacman {
  width: 32px !important; /* Width of one frame */
  height: 32px !important; /* Height of one frame */
  background: url('images/pacman.gif');
  background-size: 128px 32px; /* Total width and height of the sprite sheet */
  image-rendering: pixelated;
  transition: transform 0.1s;
  animation: pacman-animation 0.5s steps(4) infinite;
}

@keyframes pacman-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -128px 0; /* Total width of the sprite sheet */
  }
}

.pacman-left {
  transform: rotate(0deg);
}

.pacman-up {
  transform: rotate(90deg);
}

.pacman-down {
  transform: rotate(270deg);
}

.pacman-right {
  transform: rotate(180deg);
}

.moving {
  animation-duration: 0.5s;
  animation-timing-function: steps(4);
  animation-iteration-count: infinite;
}

  .wall{
    background-color: darkblue;
  }

  .coin{
    height: 15px !important;
    width: 15px !important;
    background-color: peachpuff;
    border-radius: 50%;
    margin: auto;
  }

  .xp {
    width: 3px !important;
    height: 3px !important;
    background-color: peachpuff;
    border-radius: 50%;
    margin: auto;
  }

  .power {
    width: 10px;
    height: 10px;
    background-color: tan;
    border-radius: 50%;
    margin: auto;
  }

  .food {
    /*background-image: url('food.png'); */
    background-color: red;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin: auto;
  }
  
  input[type="number"] {
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100px;
    box-sizing: border-box;
    transition: border-color 0.3s;
  }
  
  input[type="number"]:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
  }

  #create {
    margin: 5px;
    padding: 10px;
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 5px;
  }

  .east {
    border-right-color: transparent;
  }
  .west {
    border-left-color: transparent;
  }
  .north {
    border-top-color: transparent;
  }
  .south {
    border-bottom-color: transparent;
  }

  /* Debugging */
  .highlight{
    outline: 2px dashed red;
    translate: 0 0;
}

.show-rect{
    outline: 2px solid red;
}

.show-reg-point::before{
    content: "";
    position: absolute;
    background-color: cyan;
    width: 3px;
    height: 3px;
    translate: var(--regX) var(--regY);
}

.show-hitbox::before{
    content: "";
    position: absolute;
    outline: 2px solid lightcoral;
    width: var(--hitboxWidth);
    height: var(--hitboxHeight);
    translate: var(--hitboxX) var(--hitboxY);
}

.show-hitbox1{
    outline: 2px solid lightcoral;
}